/* 
    Document   : main
    Created on : Sep 18, 2012, 3:26:12 PM
    Author     : jlombardo
    Description:
        Purpose of the stylesheet follows.
*/

.headline1 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
}

