<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ItemSelectionController</servlet-name>
        <servlet-class>controller.ItemRecommendationController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemSelectionController</servlet-name>
        <url-pattern>/SelectItem.do</url-pattern>
    </servlet-mapping>
    <servlet>
    <description>Main Controller Servlet</description>
    <servlet-name>MainController</servlet-name>
    <servlet-class>controller.MainController</servlet-class>
  </servlet>
  <servlet>
    <description>Sub controller for the order process. Called by MainController</description>
    <servlet-name>OrderController</servlet-name>
    <servlet-class>controller.OrderController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderController</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
     <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.jsp</param-value>
    </context-param>

    <!-- Facelets pages will use the .xhtml extension -->
    <context-param>
    <param-name>javax.faces.FACELETS_VIEW_MAPPINGS</param-name>
    <param-value>*.xhtml</param-value>
  </context-param>  
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <!--Use this for the JSP labs
        <welcome-file>index.jsp</welcome-file>-->
        
        <!--Use this for the JSF labs-->
        <welcome-file>index.xhtml</welcome-file>        
    </welcome-file-list>
</web-app>
